.logo div{
    width: 50px;
}
.navbar-brand{
    font-size: 1.5rem;
    color: #cfdbf3 !important;
}
.nav-item{
    border-bottom:2px solid transparent;
    transition: all 0.4s;
}
.nav-item:hover{
    border-bottom:2px solid #fce30a;
}
.nav-item:hover a{
    color: #fce30a !important;
}
.nav-item a {
    /* color: #414b54 !important; */
    color: #cfdbf3!important;
    font-size: 0.8rem;
}
