
.about p{
    color: #9b9cb9;
    font-size: 0.6rem;
    line-height: 20px;
}
.aboutitem{
    border-radius: 10px;
}
.aboutitem > h4{
    color: #7b7872;
    font-size: 0.5rem;
}
.about .input-group{
    direction: ltr;
    border: 1px solid #e7edfa;
    border-radius: 10px;
    background-color: #fff;
}
.about .input-group > span > h5{ 
    color: #a6abc8;
    border-left:1px solid #e7edfa ;
    font-size: 0.7rem;
}
.about .form-control{
    border: 0px !important;
    font-size: 0.7rem;
    color: #d5d8e5;

}
.about .input-group-text{
    border: 0px;
    background-color: transparent;
    color: #179bd7;
    font-size: 0.6rem;
}
