.comment{
    border-top-right-radius: 80px;
    border-bottom-right-radius:80px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-right: 80px !important;
}
.comment > h2{
    font-size: 1.3rem;
    color: #7b7da3;
}
.comment > h3{
    font-size: 0.8rem;
    color: #bdbfd2 !important;
}
.comment > p{
    font-size: 0.6rem;
    color: #7b7da3;
    line-height: 25px;
}
.comment > img{
    width: 100px;
    right: -10%;
}