
.bg-contact{
    background-image: url('../img/bg-about.jpg');
    background-size: cover;
}
.comment{
    border-radius: 20px;
    padding-top: 40px !important;
    box-shadow: 0 0 15px rgb(124, 124, 124);
    width: 600px;
}
.comment > h2 {
    font-size: 1rem !important;
    color: #4d4f79;
}

.comment > h3 {
    font-size: 0.8rem;
    color: #bdbfd2 !important;
}
.comment > p{
    font-size: 0.6rem;
    color: #71727e;
    line-height: 25px;
}
.comment > img{
    width: 70px;
    top: -20%;
}
