
.footernav li{
    padding: 1px !important;
    border: none;
}
.footernav li:hover {
    border: none !important;
}
.footer h3{
    font-size:1rem;
    border-bottom: 1px solid #4a5777;
    color:#d5dceb ;
}
.footerp{
    border-bottom: 1px solid #4a5777;
    cursor: pointer;
}
.footer p{
    font-size: 0.7rem;
    line-height: 20px;
    color: #c7cfe2;
}
.footerp div:first-child{
    width: 40px;
}
.footerp h4 , .footerp h5 , .contact h5 , .contact h4{
    font-size: 0.8rem;
    color: #c7cfe2;
}
.contact:nth-child(3) h4{
    font-size: 0.8rem;
    color: #fce30a !important;
}
.follow{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.follow{
    background-color: #ffffff;
    cursor: pointer;
}
.follow:hover img{
    transform: scale(1.2);
}

.follow img{
    width: 13px;
    transition: all 0.3s;
}
.bg-end{
    background-color: #323e58;
}
.bg-end h6{
    font-size: 0.7rem;
}
form {
    color:#c7cfe2 ;
}
form input , textarea{
    /* background-color: #181616!important;
    border: 1px solid #367daf !important; */
}
form label{
    font-size: 0.8rem;

}
form button{
    font-size: 0.8rem !important;
    background-color:#323e58!important;
    color: #fff !important;
}
form button:hover{
    background-color:#fce30a!important;
    color: #fff !important;
}